body {
	background-color: #000;
	line-height: normal;
	text-align: center;
	overflow: hidden;
}
canvas {
	outline: 0px;
}
.fullWindow{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}